/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  cursor: pointer;
}

.btn_transparent {
  border: 1px solid #39abbf;
  color: #39abbf;
  font-weight: 600;
}

.btn_green {
  border: 1px solid #6db71b;
  color: #fff;
  background-color: #6db71b;
  font-weight: 600;
}

.btn_play {
  border: 1px solid #dd2d2c;
  border-radius: 2px;
  color: #fff;
  background-color: #dd2d2c;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
}

/* | HEADER */
header {
  width: 100%;
}

.top_header {
  height: 50px;
  color: white;
  line-height: 50px;
  font-weight: bold;
  background-color: #39abbf;
  text-align: center;
}

.main_header {
  height: 60px;
  background-color: #fff;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header .logo span:first-child {
  color: #0a4663;
  font-weight: bold;
  font-size: 2em;
}

.main_header .logo span:last-child {
  color: #39abbf;
  font-weight: 100;
  font-size: 2em;
}

.nav_header {
  background-color: #092b3d;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-bottom: 5px solid #2c5774;
}

.nav_header ul li {
  width: 250px;
  border-right: 1px solid #fff;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav_header ul li:first-child {
  border-left: 1px solid #fff;
}

.nav_header ul li:hover {
  background-color: #2c5774;
}

.nav_header ul li.active {
  background-color: #2c5774;
}

/* .nav_header ul li:first-child::before {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  background-color: #fff;
}

.nav_header ul li::after {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  background-color: #fff;
} */

/* | MAIN */

/* -Gioco dei dadi */
#dice_game {
  height: calc(100vh - 160px);
  background-color: #006633;
  border-top: 5px solid #2c5774;
  padding: 30px 0;
}

.players_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 30px;
}

.players_container .player_box .dice_box {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border: 10px solid #092b3d;
  border-radius: 20px;
  color: #092b3d;
  text-align: center;
  line-height: 280px;
  font-size: 15em;
  font-weight: bold;
}

#dice_game a {
  margin: 20px auto;
  width: 150px;
  display: flex;
  justify-content: center;
}

/* -Gioco Pari o Dispari */
#even_odd_game {
  height: calc(100vh - 160px);
  background-color: #330000;
  border: 15px solid #2c5774;
  padding: 30px 0;
  color: #a29587;
}

.user_box {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.user_box .user_choice {
  display: flex;
  justify-content: space-evenly;
}

.user_box .user_choice select,
.user_box .user_choice input {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 5px solid #0d324d;
}

.user_box .user_choice button {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #092b3d;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.user_box .user_text_choice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user_box .user_text_choice .choice_box {
  width: 250px;
  height: 50px;
  background-color: #fff;
  border: 5px solid #092b3d;
  border-radius: 10px;
  color: #092b3d;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: bold;
}
